@import url("https://fonts.googleapis.com/css2?family=Fondamento&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}
body {
  /* background-color: #343133; */
  background-color: #271d2a;
  color: #f3b17a;
  font-family: "Fondamento", cursive;
  text-align: center;

  padding-top: env(safe-area-inset-top);
  -webkit-overflow-scrolling: auto;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  user-select: none;
}
strong {
  color: #f1d3bb;
}
header {
  /* display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgb(255 255 255 / 10%), 0 1px 0 #000 inset;
  border-radius: 32px;
  padding: 6px 18px; */
  margin: 32px 0 32px;
  font-size: 20px;
}
canvas {
  /* background-color: #271d2a; */
  /* box-shadow: 0 2px 8px #000; */
  /* border-radius: 4px; */
  transition-property: opacity;
  transition-duration: 0.1s;
  user-select: none;
  image-rendering: pixelated;
}
footer {
  margin: 20px;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 500px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 #000 inset;
  color: #888;
  font-size: 12px;
  cursor: default;
  user-select: none;
}
footer b {
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  margin: 0 4px;
}
a {
  color: #a05638;
  text-decoration: none;
}
footer a:hover {
  color: #d37e5c;
}
