/* @import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap"); */

html,
body {
  padding: 0;
  margin: 0;
}
body {
  /* background-color: #343133; */
  background-color: #271d2a;

  text-align: center;
  margin-top: 60px;
}
/* .preload {
  font-family: "Nanum Pen Script";
  position: absolute;
  opacity: 0;
  user-select: none;
} */
canvas {
  background-color: #271d2a;
  /* box-shadow: 0 2px 8px #000; */
  /* border-radius: 4px; */
  transition-property: opacity;
  transition-duration: 0.1s;
  user-select: none;
  image-rendering: pixelated;
}
footer {
  margin: 20px;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 500px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 #000 inset;
  font-family: sans-serif;
  color: #888;
  font-size: 12px;
  cursor: default;
  user-select: none;
}
footer b {
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  margin: 0 4px;
}
a {
  color: #a05638;
  text-decoration: none;
}
footer a:hover {
  color: #f3b17a;
}
