@import url("https://fonts.googleapis.com/css2?family=Fondamento&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}
body {
  background-color: #271d2a;
  color: #f3b17a;
  font-family: "Fondamento", cursive;
  text-align: center;

  padding-top: env(safe-area-inset-top);
  -webkit-overflow-scrolling: auto;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
}
strong {
  color: #f1d3bb;
}
header {
  background-color: #1e1721;
  padding: 16px 32px 32px;
  font-size: 20px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
main {
  margin-top: -16px;
  background-color: #271d2a;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;

  padding: 32px 0;
  border-radius: 8px;
  user-select: none;
}
canvas {
  transition-property: opacity;
  transition-duration: 0.1s;
  user-select: none;
  image-rendering: pixelated;
}
footer {
  margin: 20px;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 500px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 #000 inset;
  color: #888;
  font-size: 12px;
  cursor: default;
  user-select: none;
}
footer b {
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  margin: 0 4px;
}
a {
  color: #a05638;
  text-decoration: none;
}
footer a:hover {
  color: #d37e5c;
}
